<div id="eventTransactionDetailsModal" class="modal fade Custommodal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                    <h2 class="headtittle">Event Application Details</h2>
                    <button type="button" class="btn btn-info btnclose" data-dismiss="modal"><%= image_tag("close.png") %></button>
                </div>
            <div class="modal-body mCustomScrollbar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tableCntrl tableCntrllist">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td data-th="Created Date">
                                                <div class="Boxdrop dropdown" id="update_event_order_status">
                                                    <button class="btn boxdrop-btn" data-toggle="dropdown">
                                                        <span id="status-text"><%= @event_order.status.titleize %></span>
                                                        <span class="btnarrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                    </button>
                                                    <div class="dropdown-menu dropdownCntrl">
                                                        <ul class="list-unstyled">
                                                            <% EventOrder.statuses.each do |k,v| %>
                                                              <% if k.eql?( EventOrder.statuses.key(EventOrder.statuses[:failure])) %>
                                                                <li class="<%= 'active' if @event_order.status.eql? k %>"><%= link_to k.titleize, update_status_event_order_path({status: v, id: @event_order.id}) , method: "get", confirm: "Are you sure?"%></li>
                                                              <% else %>
                                                                <li class="<%= 'active' if @event_order.status.eql? k %>"><%= link_to k.titleize, update_status_event_order_path({status: v, id: @event_order.id }) , method: "get", confirm: "Are you sure?"%></li>
                                                              <% end %>
                                                            <% end %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                            <td data-th="Transaction Id"><%= event_order.try(:transaction_id) || "-" %></td>
                                            <td data-th="Reg Ref Number"><span class="textoverflow"><%= event_order.try(:reg_ref_number) || "-" %></span></td>
                                            <td data-th="Payment Method"><%= event_order.try(:payment_method) || "-" %></td>
                                            <td data-th="Registered By">
                                                <div class="textgroup">
                                                    <p class="primarybold"><%= event_order.try(:user).try(:sadhak_profile).try(:full_name) || "Guest User" %></p>
                                                    <span><%= event_order.try(:user).try(:sadhak_profile).try(:syid) || "" %></span>
                                                </div>
                                            </td>
                                            <td data-th="Registered Sadhaks">
                                                <ul class="listsadhak">
                                                    <% (event_order.try(:sadhak_profiles) || []).each do |sadhak_profile| %>
                                                        <li><span class="primarybold"><%= sadhak_profile.try(:full_name) %></span></li>
                                                    <% end %>
                                                </ul>
                                            </td>
                                            <td data-th="Created Date">
                                                <div class="textpanel">
                                                    <p class="primarybold"><%= event_order.try(:created_at).try(:strftime, ('%b %d, %Y')) %></p>
                                                    <span class="senary-color"><%= event_order.try(:created_at).try(:strftime, ("%I:%M:%S %p")) %></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>